.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Font12 {
	font-family: Helvetica Light;
	font-size: 12px;
}

.Font18 {
	font-family: Helvetica Light;
	font-size: 18px;
}

.Font19 {
	font-family: Helvetica Light;
	font-size: 18px;
}

.Font20 {
	font-family: Helvetica Light;
	font-size: 18px;
}

.Font21 {
	font-family: Helvetica Light;
	font-size: 18px;
}

.Font22 {
	font-family: Helvetica Light;
	font-size: 18px;
}

.Font23 {
	font-family: Helvetica Light;
	font-size: 18px;
}

.Font24 {
	font-family: Helvetica Light;
	font-size: 24px;
}

.Font25 {
	font-family: Helvetica Light;
	font-size: 24px;
}

.Font36 {
	font-family: Helvetica Light;
	font-size: 36px;
}

