.default {
	font-family: Segoe UI;
	font-size: 12px;
}

.Font12 {
	font-family: Calibri;
	font-size: 12px;
}

.Font18 {
	font-family: Calibri;
	font-size: 18px;
}

.Font19 {
	font-family: Calibri;
	font-size: 18px;
}

.Font20 {
	font-family: Calibri;
	font-size: 18px;
}

.Font21 {
	font-family: Calibri;
	font-size: 18px;
}

.Font22 {
	font-family: Calibri;
	font-size: 18px;
}

.Font23 {
	font-family: Calibri;
	font-size: 18px;
}

.Font24 {
	font-family: Calibri;
	font-size: 24px;
}

.Font25 {
	font-family: Calibri;
	font-size: 24px;
}

.Font36 {
	font-family: Calibri;
	font-size: 36px;
}

